#main-div{
  display: flex;
  justify-content: space-around;
  background-color:white;
  padding:15px;
}
#right-div{
    display: flex;
    gap:30px;
}
#right-div button{
  background:none;
  border: none;
  color: black;
  font-size:18px;
  font-family: sans-serif;
}


